@using PagedList
@using PagedList.Mvc
@model WebApp1.Controllers.PageViewModel

@{
	ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>





<br/>

<div class="row">
	<div class="col-xs-12">
		<div class="col-md-5">
			<div id="search-box">
				@Html.DropDownList("searchField", new List<SelectListItem>()
				{
					new SelectListItem(){Text = "Title"},
					new SelectListItem(){Text = "Journal Name"},
					new SelectListItem(){Text = "Author"},
					new SelectListItem(){Text = "Abstract"}
				}, ViewBag.PageSize as string, new
				{
					id = "searchField",
					@class = "form-control"
				})
				
				<input type="text" name="searchTerm" id="searchTerm" />
				<button type="button" name="searchButton" id="searchButton" >Search</button>
			</div>
		</div>
	</div>


</div>

<br />

<div class="container">
	<div class='col-md-5'>
		<div class="form-group">
			<div class='input-group date'>
				<input name='dateTimePicker6'  id='dateTimePicker6' type='text' class="form-control" />
				<span class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</span>
			</div>
		</div>
	</div>
	<div class='col-md-5'>
		<div class="form-group">
			<div class='input-group date'>
				<input name='dateTimePicker7'  id='dateTimePicker7' type='text' class="form-control" />
				<span class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</span>
			</div>
			<button type="button" name="searchDate" id="searchDate">Search By Date</button>
		</div>
	</div>
</div>

<br />

@Html.Raw(Model.Html)









	<p>Use this area to provide additional information.</p>


	@section Scripts{
		<script type="text/javascript">
			$(function() {
				$('#dateTimePicker6').datetimepicker({
					useCurrent: false
				});

				$('#dateTimePicker7').datetimepicker({
					useCurrent: false //Important! See issue #1075


				});
				$("#dateTimePicker6").on("dp.change",
					function(e) {
						$('#dateTimePicker7').data("DateTimePicker").minDate(e.date);
					});
				$("#dateTimePicker7").on("dp.change",
					function(e) {
						$('#dateTimePicker6').data("DateTimePicker").maxDate(e.date);
					});

			});
		</script>
		<script>
			$(function() {
				var $papers = $('#papers');

				var $searchField = $('#searchField');
				var $searchTerm = $('#searchTerm');

				$("#searchButton").on('click',
					function() {
						$.ajax({
							type: 'POST',
							url: '@Url.Action("Search")',
							data: JSON.stringify({
								searchField: $searchField.val().trim(),
								searchTerm: $searchTerm.val().trim(),
								pageNumber: 1,
								pageSize: 25,
								searchType: 1
							}),
							contentType: 'application/json; charset=utf-8'
						}).then(function(data) {
							if (data) {
								$papers.html(data.html);
							}
						});
					});

				$()
			})


		</script>
		<script>
			$(function() {
				var $papers = $('#papers');

				var $dateTimePicker6 = $('#dateTimePicker6').data('DateTimePicker');
				var $dateTimePicker7 = $('#dateTimePicker7').data('DateTimePicker');


				$("#searchDate").on('click',
					function() {
						var startDate = $dateTimePicker6.date();
						var endDate = $dateTimePicker7.date();
						if (startDate === null) {

						}

						if (endDate === null) {

						}

						var $beginMonth = startDate.month();
						var $beginYear = startDate.year();
						var $endMonth = endDate.month();
						var $endYear = endDate.year();

						$.ajax({
							type: 'GET',
							url: '@Url.Action("DateSearch")',
							data: {
								beginMonth: $beginMonth,
								beginYear: $beginYear,
								endMonth: $endMonth,
								endYear: $endYear,
								vm: {
									pageNumber: 1,
									pageSize: 25
								}
							}
						}).then(function(data) {
							if (data) {
								$papers.html(data.html);
							}
						});
					});
			})


		</script>
	}
